<main class="page__main">
  <section class="hero">
    <h1 class="hero__title">Anonymous proxy</h1>
    <h2 class="hero__subtitle">In hac habitasse platea dictumst.</h2>
    <a href="#" class="hero__button" title="3 Reasons To Purchase">
      <img
        src="./assets/images/ico-scroll-down.svg"
        alt="3 Reasons To Purchase"
        class="hero__button--icon"
      />
    </a>
  </section>

  <section class="section-tips">
      <h3 class="section-tips__subtitle">Insomnia tips</h3>
      <h2 class="section-tips__title">Looking through a window</h2>
      <p class="section-tips__text">
            Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at
            luctus ex diam nec lectus. Vivamus semper sodales rutrum.
      </p>
      <button class="section-tips__button">
          <a href="https://adalab.es/" title="Go Adalab.es" class="section-tips__link">Go</a>
      </button>

  </section>

  <section class="section-reasons">

  </section>
</main>
